* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: linear-gradient(0deg, rgba(88, 195, 178, 1) 0%, rgba(130, 218, 204, 1) 36%, rgba(255, 217, 230, 1) 76%, rgba(254, 197, 216, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

